#Ignore this directory
ddb1_v02_01
*.cpp

Microaneurysms/A Deep Learning Method for Microaneurysms Detection in Fundus Images .pdf

Feature extraction.png

Microaneurysms/*

Fourier Transform.png

results.xlsx

setuptools-24.0.2.zip

result.xlsx

Note.txt